.todo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__input{
        margin-bottom: 10px;
    }
}

.input{
    &__textarea{
        margin: auto;
        width: 80%;
        height: 40px;
        display: block;  
        border-radius: 10px;
        border: 1px solid rgb(29, 29, 29);
        background-color: rgb(49, 49, 49);
        resize: none;
        padding: 10px;
        font-size: 12px;
        color: rgb(186, 186, 186);
        caret-color: rgb(186, 186, 186);
    }

    &__textarea:focus {
        color: rgb(186, 186, 186);
        background-color: rgb(49, 49, 49);
        border-color: #ba3afc;
        outline: 0; 
        box-shadow: 0 0 0 0.25rem rgba( 205, 13, 253, 0.25);
    }

    &__warning{
        display: block;
        text-align: center;
        margin: 0;
        color: red;
        font-size: 8px;
    }
}

.list{
    &__tabs{
        margin: auto;
    }

    &__items{
        margin: auto;
    }
}

.tabs{
    width: 80%;
    display: flex;
    justify-content: space-between;

    &__item{
        box-sizing: border-box;
        flex-grow: 1;
        height: 30px;
        line-height: 30px;
        border: 1px solid #1d1d1d;
        
        border-top-left-radius: 10px;    
        border-top-right-radius: 10px;    
        color: rgb(187, 187, 187);
        font-size: 12px;
        text-align: center;
        align-items: center;
        cursor: pointer;
    }

    &__item_active{
        background: linear-gradient(rgba(199, 131, 248, 0.7), rgb(68, 66, 66) 70%);
        border-bottom: none;
    }
}

.items{
    box-sizing: border-box;
    width: 80%;
    padding: 20px 0px;
    border: 1px solid #1d1d1d;
    border-top: none;
}