body {
  background: rgb(199, 131, 248);
}

.container{
  width: 400px;
  background-color: rgb(68, 66, 66);
  box-shadow: 5px 5px 35px rgb(0, 0, 0), -5px -5px 35px rgb(0, 0, 0);
  margin: 30px auto 0px;
  border-radius: 10px;
  border: 1px solid rgb(50, 49, 49);
}